@import "reset";
@import "variables";






header{
    background-color: $header-bgcolor;
}

//nav style

nav{
    margin-top: 10px;
    ul{
        list-style: none;
        li{
            display: inline-block;
            margin: 10px 8px;
            a{
                text-decoration: none;
                color: rgb(100, 70, 70);
                padding: 10px;
                transition: all .2s ease-in-out;
                border-radius: 10px;
            }
            a:hover{
                background-color: #000;
                color: #fff;
            }
        }
    }
}
main{
    background-color: $main-bgcolor;
}
footer{
    background-color: $footer-bgcolor;
}
#about{
    font-size: $para-fontSize;
}