@import "reset";
@import "variables";

@mixin para-style($size,$style) {
    font-size: $size;
    text-align: $style;
    color: rgb(131, 121, 121);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 4px 4px;
}

#about p{
    @include para-style(16px,center);
}
#desc p{
    @include para-style(14px, left);
}

.btn{
    padding: 10px 12px;
    border: none;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    margin: 10px;
}
.about-btn{
    @extend .btn;
    background-color: crimson;
}
.desc-btn{
    @extend .btn; 
    background-color: rgb(83, 9, 112);
}


header{
    background-color: $header-bgcolor;
}

//nav style

nav{
    margin-top: 10px;
    ul{
        list-style: none;
        li{
            display: inline-block;
            margin: 10px 8px;
            a{
                text-decoration: none;
                color: rgb(100, 70, 70);
                padding: 10px;
                transition: all .2s ease-in-out;
                border-radius: 10px;
            }
            a:hover{
                background-color: #000;
                color: #fff;
            }
        }
    }
}
main{
    background-color: $main-bgcolor;
}
footer{
    background-color: $footer-bgcolor;
}
#about{
    font-size: $para-fontSize;
}